@use "/src/globalScss/variables" as variables;
@use "/src/globalScss/mixins" as mixins;

.contactMe {
    text-align: center;
    background: linear-gradient(45deg, #4a4a4a, #707070, #9c9c9c); 
    padding: 2rem;
    color: #fff;
    width: 100vw;

    h2 {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        letter-spacing: 1px;
        margin-bottom: 1rem;

        &:after,
        &:before {
            @include mixins.hamburgerStyle(3%, 2px, relative);
            background-color: #fff;
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
        &:before {
            right: 0.5rem;
            margin-left: -50%;
        }
        &:after {
            left: 0.5rem;
            margin-right: -50%;
        }
    }

    h5 {
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 1rem;

    a {
        color: #fff;
        font-size: 2rem;
        margin: 0.5rem;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    .twitter:hover {
        color: #00acee;
    }

    .instagram:hover {
        color: #cc2366;
    }

    .linkedin:hover {
        color: #0e76a8;
    }

    .github:hover {
        color: #fff;
    }
}

.headerLink {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    z-index: 15;

    svg {
        fill: #fff;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}
