@use "/src/globalScss/variables" as variables;

.header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        opacity: 0.2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.023));
        z-index: -1;
    }

    .navbar {
        position: absolute;
        top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;

        .navList {
            display: flex;
            list-style: none;

            li {
                margin: 0 15px;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    transition: color 0.3s;
                    &:hover {
                        color: variables.$thirdColor;
                        border-bottom: 2px solid variables.$thirdColor;
                    }
                }
            }
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background: variables.$thirdColor;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
                background-color: variables.$secondColor;
                transform: scale(1.1);
            }
        }
    }

    .text-content {
        margin-top: 5rem;

        h1 {
            font-size: 3rem;
            margin-bottom: 1rem;
            span {
                color: variables.$thirdColor;
            }
        }

        p {
            font-size: 1.2rem;
            color: variables.$secondColor;
        }
    }
}
.bottomNav {
    display: none;
}
  

@media (max-width: 767px) {
    .navbar .navList {
        display: none !important;
    }
    .bottomNav {
      display: flex;
      position: fixed; 
      bottom: 0; 
      width: 100%;
      justify-content: space-around;
      align-items: center;
      background:  linear-gradient(45deg, #4a4a4a7c, #70707085, #9c9c9c86);
      padding: 13px 0;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1000;
  
      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease, transform 0.3s ease;
        
        &:hover {
          color: variables.$thirdColor;
          transform: scale(1.1);
        }
      }
    }
}
  