@import "variables";
@import "mixins";
@media (max-width: 600px) {
    .nav-list {
        @include hamburgerStyle(100%, 100%, fixed);
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
        background-color: #ebebeb;
        li {
            margin: 10px 0;
            a {
                display: inline-block;
                font-size: 20px;
                padding: 15px 2px;
                transition: all 0.3s;
                &:hover {
                    background-color: #ebebebfe;
                    transform: translateY(-10px);
                    border-bottom: 2px solid $thirdColor;
                }
            }
        }
    }
    #contact {
        color: $secondColor !important;
        &:hover {
            border-bottom: 2px solid $secondColor;
        }
    }
    .hamburger {
        display: flex;
        z-index: 999;
    }
    #hamburger-toggle:checked~.nav-list {
        transform: none;
    }
    #hamburger-toggle:checked~.hamburger .bar {
        background-color: transparent;
    }
    #hamburger-toggle:checked~.hamburger .bar::before {
        transform: rotate(45deg);
    }
    #hamburger-toggle:checked~.hamburger .bar::after {
        transform: rotate(-45deg);
    }
    .about {
        flex-direction: column;
        margin: 9rem 0 0 0;
        padding: 7rem 0;
        .right {
            width: calc(100%-2rem);
            margin: 0 3rem;
            align-items: center;
            .myProject-btn {
                margin: 2rem auto;
            }
        }
        .left {
            width: calc(100%-1rem);
            margin: 0 2rem;
        }
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills {
        height: 90rem;
    }
}