#projects {
  /* background-color: #bed9ed; */
  height: 38rem;
}

.projects-title {
  text-align: center;
  color: #204969;
  padding: 5rem 0 2rem 0;
}
.projects-title:after {
  background-color: #204969;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 3%;
}
.projects-title:before {
  background-color: #204969;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 3%;
}

.main-container1 {
  display: flex;
  justify-content: space-around;
}

.container1 {
  margin-left: 4rem;
  flex-direction: column;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.container1 .card {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.2);
}
.container1 .card img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-out;
  opacity: 55%;
}
.container1 .card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.card p, .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.card p {
  inset: auto auto 80px 30px;
}

.card a {
  inset: auto auto 40px 30px;
  color: #0af421;
  text-shadow: 3px 3px 3px #0af421;
  text-decoration: none;
}

.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
}

.card:hover p, .card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.card:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.skills {
  height: 50rem;
}

.skills-title {
  text-align: center;
  color: #204969;
  padding: 5.5rem 0 2rem 0;
}
.skills-title:after, .skills-title:before {
  width: 3%;
  height: 2px;
  position: relative;
  background-color: #204969;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 400px;
  background-color: #e2e1e1;
  padding: 10px;
  border-radius: 12px;
  box-shadow: inset 3px 3px 7px #a8a8a8;
  margin: 1.5rem;
}

.progress-title {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.progress {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.2509803922);
}

.progress-bar1 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar2 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar3 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar4 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar5 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar6 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar7 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar8 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar9 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar10 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar11 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-bar12 {
  height: 18px;
  border-radius: 25px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved1 .progress-bar1 {
  width: 90%;
  background-color: #204969;
  -webkit-animation: progress-bar1 6s;
          animation: progress-bar1 6s;
}

@-webkit-keyframes progress-bar1 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}

@keyframes progress-bar1 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}
.progress-moved2 .progress-bar2 {
  width: 90%;
  background-color: #204969;
  -webkit-animation: progress-bar2 6s;
          animation: progress-bar2 6s;
}

@-webkit-keyframes progress-bar2 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}

@keyframes progress-bar2 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}
.progress-moved3 .progress-bar3 {
  width: 90%;
  background-color: #204969;
  -webkit-animation: progress-bar3 6s;
          animation: progress-bar3 6s;
}

@-webkit-keyframes progress-bar3 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}

@keyframes progress-bar3 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}
.progress-moved4 .progress-bar4 {
  width: 90%;
  background-color: #204969;
  -webkit-animation: progress-bar4 6s;
          animation: progress-bar4 6s;
}

@-webkit-keyframes progress-bar4 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}

@keyframes progress-bar4 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}
.progress-moved5 .progress-bar5 {
  width: 90%;
  background-color: #204969;
  -webkit-animation: progress-bar5 6s;
          animation: progress-bar5 6s;
}

@-webkit-keyframes progress-bar5 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}

@keyframes progress-bar5 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}
.progress-moved6 .progress-bar6 {
  width: 90%;
  background-color: #204969;
  -webkit-animation: progress-bar6 6s;
          animation: progress-bar6 6s;
}

@-webkit-keyframes progress-bar6 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}

@keyframes progress-bar6 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}
.progress-moved7 .progress-bar7 {
  width: 90%;
  background-color: #204969;
  -webkit-animation: progress-bar7 6s;
          animation: progress-bar7 6s;
}

@-webkit-keyframes progress-bar7 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}

@keyframes progress-bar7 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 90%;
    background-color: #204969;
  }
}
.progress-moved5 .progress-bar5 {
  width: 60%;
  background-color: #204969;
  -webkit-animation: progress-bar5 6s;
          animation: progress-bar5 6s;
}

@keyframes progress-bar5 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 60%;
    background-color: #204969;
  }
}
.progress-moved8 .progress-bar8 {
  width: 15%;
  background-color: #204969;
  -webkit-animation: progress-bar8 6s;
          animation: progress-bar8 6s;
}

@-webkit-keyframes progress-bar8 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 15%;
    background-color: #204969;
  }
}

@keyframes progress-bar8 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 15%;
    background-color: #204969;
  }
}
.progress-moved9 .progress-bar9 {
  width: 15%;
  background-color: #204969;
  -webkit-animation: progress-bar9 6s;
          animation: progress-bar9 6s;
}

@-webkit-keyframes progress-bar9 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 15%;
    background-color: #204969;
  }
}

@keyframes progress-bar9 {
  0% {
    width: 5%;
    background-color: #204969;
  }
  100% {
    width: 15%;
    background-color: #204969;
  }
}/*# sourceMappingURL=style2.css.map */